@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Rouge+Script");

.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html body {
  font-family: 'Raleway', Tahoma, sans-serif;
  width: 100;
  min-height: 100%;
}

.hero.is-large .hero-body {
  height: 100vh;
  width: 100%;
}

.header-wrapper {
  padding-bottom: 30px;
}

.navbar-item {
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

.navbar-item.is-active {
  border-bottom: 2px solid #996E6D;
}

.a.navbar-item {
  font-color: #996E6D;
}


.hero {
  background: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.65)), rgba(0, 0, 0, 0.55) url("../image/fundo_principal.png") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Raleway', sans-serif;
}



.hero .title {
  font-family: 'Rouge Script', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  padding-bottom: 5px;
  color: whitesmoke;
}

.hero .subtitle {
  padding: 35px;
  color: whitesmoke;
  font-size: 1.3rem;
}

.hero .tempathorario {
  padding-top: 35px;
  font-size: 1.3rem;

}

.hero .hero-foot {
  height: 50px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: 600;
  text-transform: ;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid #996E6D;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: #996E6D;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: #996E6D;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid #c28285;
}


.space40px {
  height: 40px;
}

.space24px {
  height: 24px;
}

.main-content {
  padding-top: 2rem;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

.section-dark {
  background-color: #F4E2E2;
  padding: 3vh 2vw;
  min-height: 95vh;
}

.main-content .section-darker {
  background-color: #984d5a;
  padding: 3vh 2vw;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 60px;

}

@media (max-width: 599px) {
  .main-content .section-dark.resume {
    padding-top: 75px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}

.main-content .section-dark.resume button {
  border: 2px solid #996E6D;
  background: white;
  color: #996E6D;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #996E6D;
}

.main-content .section-dark.my-work {
  padding: 80px 40px;
}

.main-content .section-cashbac {
  background-color: rgb(238, 250, 253);
  padding: 80px 40px;
}

@media (max-width: 599px) {
  .main-content .section-dark.foto-foto {
    padding: 75px 20px;
  }
}

.main-content .section-dark.foto-foto .foto-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.section-map {
  padding: 0 0 0 0;
}

.main-content .section-light {
  padding: 80px 40px;
}

.main-content .section-light.regular-section {
  padding-bottom: 80px;
}

.main-content .section-light.regular-section .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .about-links {
    text-align: center;
  }
}

.main-content .section-light.regular-section .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .right-image img {
    margin: auto;
  }
}

.main-content .section-light.skills {
  padding: 100px;
}

@media (max-width: 599px) {
  .main-content .section-light.skills {
    padding: 50px 20px 40px 20px;
    padding-bottom: 20px;
  }
}

.main-content .section-light.skills h1 {
  padding: 10px;
  font-size: 24px;
}

.main-content .section-light.contact {
  padding: 80px;
}

.main-content .section-light.contact button {
  width: 100%;
  color: white;
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 80px 40px;
  }
}

.main-content .section-color.pertanyaan {
  padding: 100px;
  background-color: #996E6D;
  color: white;
}

.main-content .section-color.pertanyaan .title,
.main-content .section-color.pertanyaan .subtitle {
  color: white;
}

.main-content .section-color.pertanyaan i {
  font-size: 3rem;
  padding: 20px;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #996E6D;
  font-size: 3vh;
  letter-spacing: 0px;
  padding-bottom: 60px;
}

.nama-lengkap {
  font-family: 'Rouge Script', sans-serif;
  color: #996E6D;
  font-size: 3rem;
  letter-spacing: 0px;
  padding: 6px 5%;
  line-height: 3.7rem;
}

.ampersand {
  font-size: 5rem;
  font-family: 'Rouge Script', sans-serif;
  color: #996E6D;
  line-height: 5rem;
  display: inline-block;
  vertical-align: middle;
}

.bodytext {
  display: inline-block;
  font-size: 18px;
  max-width: 150vh;
  padding: 0 5%;
}

.historia {
  text-align: center;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.horario {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.tanggal-angka {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  line-height: 1;
}

.tempat {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}


.has-vertically-align {
  vertical-align: middle;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 5vh;
  padding: .5vh;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: #c28285;
  color: whitesmoke;
}

.footer p {
  color: white;
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
}


.main-content .no-padding-top {
  padding-top: 0px;
}

.footer img {
  margin: 10px 0px 10px 10px;
  display: inline-block;
  max-height: 24px;
  vertical-align: middle;
}

.footer a .nav-item {
  color: whitesmoke;
}

.fa-download {
  color: #43485c;
}

.divider {
  padding: 2vh 2vw;
  display: inline-block;
  max-height: 70px;
  vertical-align: middle;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #996E6D;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #BC8887;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F4E2E2;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #996E6D;
  -webkit-box-shadow: inset 0 0 6px #996E6D;
  background-color: #BC8887;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #D8A9A8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}


.btn-whatsapp:hover {
  color: white;
  background-color: #59a543;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #59a543;
  width: 210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}


.btn-whatsapp {
  background-color: #6cc751;
  width: 210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  border-left: 1px solid #6cc751;
  border-right: 1px solid #6cc751;
  border-top: 1px solid #6cc751;
  border-bottom: 1px solid #6cc751;
  align-items: center;
  margin: 1rem;

}


.btn-cta:hover {
  color: white;
  background-color: #bf7877;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #bf7877;
  width: 210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}

.btn-cta {
  background-color: #996E6D;
  width: 210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #996E6D;
  border-radius: 10px;
  align-items: center;
  margin: 1rem;
}

.cashbac-logo-inline {
  width: 160px;
  vertical-align: middle;
}

.button-download {
  min-width: 200px;
  height: 55px;
  align-items: center;
  margin: 0.1rem;

}

.voucher-code {
  height: 55px;
  max-width: 180px;
  border: 2px solid #26ade4;
  border-radius: 10px 0 0 10px;
  font-size: 24px;
  padding: 15px;
}

.btn-voucher-code {
  height: 55px;
  min-width: 100px;
  border: 2px solid #26ade4;
  background-color: #26ade4;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  color: white;
}

.fa-copy {
  margin-right: 5px;
}

.white {
  color: ghostwhite
}


.dusty-pink {
  color: #D8A9A8
}

.dusty-pink-lighter {
  color: #EDD2D1
}

.dusty-pink-lightest {
  color: #F4E2E2
}

.dusty-pink-darker {
  color: #BC8887
}

.dusty-pink-darkest {
  color: #996E6D
}

.tile {
  border-radius: 10px;
}


.foto1 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/foto_chicago_bulls.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 24rem;
}


.foto2 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/foto_chicago_bulls.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 24rem;
}

.foto3 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/foto_chicago_bulls.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 24rem;
}

.foto4 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/foto_chicago_bulls.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 24rem;
}

.foto5 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/foto_chicago_bulls.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 24rem;
}


.foto6 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.5), rgba(48, 47, 47, 0.9)), url("../image/foto_chicago_bulls.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 24rem;
}



.title-foto {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
  color: white;
}


.subtitle-foto {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  font-weight: 600;
  margin-top: 15px;
  text-align: left;
  color: white;
}

.section-light {
  background-image: url(../image/divider-flowers-leaves.png);
  background-position: bottom -30px center;
  background-repeat: no-repeat;
  background-size: initial;
}

.instagram {
  color: #996E6D;
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 70vh;
  margin: auto;
  overflow: hidden;
  align-items: center;
  background-color: #F4E2E2;
  justify-content: center;
}

#gallery2 {
  background-color: #984d5a;
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  /* centra horizontalmente */
  align-items: center;
  /* centra verticalmente */
  width: 100%;
  height: 100%;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Botões de navegação */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
  /* largura fixa */
  height: 1.8rem;
  /* altura fixa */
  line-height: 1.8rem;
  /* centra verticalmente o símbolo */
  text-align: center;
  /* centra horizontalmente */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  /* círculo perfeito */
  background-color: rgba(0, 0, 0, 0.4);
  user-select: none;
  transition: background-color 0.3s;
}


.prev {
  left: 20px;
}

.next {
  right: 20px;
}


.title-container {
  display: flex;
  align-items: center;
  /* centraliza verticalmente */
  justify-content: center;
  /* mantém tudo centrado */
  gap: 12px;
  /* espaço entre folhas e título */
  text-align: center;
  width: 100%;
}

.title-container .divider {
  height: auto;
  max-width: 30vw;
}

.title-container .title {
  padding: 0;
}

.title-container .divider-right {
  transform: scaleX(-1);
}

.container {
  max-width: 100%;
  max-height: 100%;
}

iframe {
  width: 90vw;
  height: 70vh;
  display: inline-block;
}

.iframe-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.columns {
  max-width: 100vw;
}

.hero-body {
  display: grid;
  justify-content: center;
  align-items: center;
}

.save_date_video_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 50%;
  padding: 2vh;
}

.save_date_video_container video {
  height: 90vh;
  width: auto;
}

.save_date_image_container img {
  height: 90vh;
  width: auto;
}

.save_date_image_container {
  height: 100%;
  min-width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 2vh;
  align-items: center;
}

.save_date_container {
  width: 100%;
  display: flex;
  padding: 3vh;
}

/* Quando o ecrã for estreito, empilha os divs */
@media (max-width: 900px) {
  .save_date_container {
    flex-direction: column;
    align-items: center;
  }

  .save_date_image_container,
  .save_date_video_container {
    max-width: 100%;
    justify-content: center;
    padding: 1vh 0;
  }

  .save_date_image_container img,
  .save_date_video_container video {
    height: auto;
    width: 90%;
  }

  .gift-header {
    padding: 60px 20px;
    text-align: center;
  }

  .gift-card {
    background: white;
    border-radius: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    border: 1px solid #eee;
    overflow: hidden;
  }

  .gift-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }

  /* Espaço para Foto - Ajustado para não cortar */
  .gift-image-container {
    width: 100%;
    height: 220px;
    /* Altura fixa para manter o alinhamento dos cartões */
    background-color: #f9f9f9;
    /* Fundo cinza muito leve para fotos portrait */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
  }

  .gift-image-container img {
    max-width: 100%;
    max-height: 100%;
    /* contain: mostra a imagem toda sem cortar */
    object-fit: contain;
    /* Adiciona um leve efeito de suavidade */
    padding: 5px;
  }

  .gift-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .gift-title {
    font-weight: 600;
    color: #4a4a4a;
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .gift-price {
    color: var(--wedding-pink);
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .btn-contribute {
    background-color: var(--wedding-pink);
    color: white !important;
    border-radius: 25px;
    font-weight: 600;
    border: none;
    width: 100%;
  }

  /* Modal / Pop-up */
  .modal-card-foot {
    justify-content: center;
  }

  .mbway-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 5px;
  }

  .name-label {
    color: var(--wedding-pink);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}